*.pyc
/ingest/airbyte/airbyte-local-setup/data
.env
*.tfvars
.terraform
.terraform.lock.hcl
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
/ingest/airbyte/terraform-airbyte-ingestion/terraform.tfstate
/ingest/airbyte/terraform-airbyte-ingestion/.terraform